driver={{ config.driver }}
type={{ config.type }}
host={{ config.host }}
port={{ config.port }}
database={{ config.database }}
user={{ config.user }}
password={{ config.password }}
{% if config.get('schema') %}
schema={{ config.schema }}
{% endif %}
{% if config.get('enable_chinese_fts') %}
enable_chinese_fts=1
{% endif %}
{% if config.get('enable_modules') %}
enable_modules={{ config.enable_modules |join(',') }}
{% endif %}
