input {
    redis {
        "host" => "{{ log_buffer_redis_host }}"
        "port" => "{{ log_buffer_redis_port }}"
        "key" => "json_event"
        "data_type" => "list"
        "codec" => "json"
    }
    redis {
        "host" => "{{ log_buffer_redis_host }}"
        "port" => "{{ log_buffer_redis_port }}"
        "key" => "postgresql"
        "data_type" => "list"
        "codec" => "plain"
        "tags" => ["postgresql"]
    }
}
filter {
    if "postgresql" in [tags] {
        multiline {
            "pattern" => "^20"
            "negate" => true
            "what" => "previous"
        }
        csv {
            "columns" => ["log_time","user_name","database_name","process_id","connection_from","session_id",
                "session_line_num","command_tag","session_start_time","virtual_transaction_id","transaction_id",
                "error_severity","sql_state_code","message","detail","hint","internal_query","internal_query_pos",
                "context","query","query_pos","location","application_name"]
        }
        date {
            "match" => ["log_time", "yyyy-MM-dd HH:mm:ss.SSS 'CST'"]
        }
        mutate {
            "add_field" => ["@title", "POSTGRESQL %%{error_severity} <%%{process_id}-%%{session_id}> %%{message}"]
        }
    }
    if "nginx" in [type] {
        if "GET / HTTP/1.1" in [request] {
            metrics {
                "add_tag" => ["home_page", "metrics", "home_page_request_time"]
                "timer" => ["request_time", "%%{request_time}"]
            }
        }
        mutate {
            "add_field" => ["@title", "NGINX %%{status} <%%{browser_code}-%%{user_code}> %%{request}"]
        }
    }
    if "veil" in [type] {
        mutate {
            "add_field" => ["@title", "VEIL %%{level} <%%{browser_code}-%%{user_code}> %%{event}"]
        }
    }
}
output {
    stdout {
        "codec" => "rubydebug"
    }
    if "_jsonparsefailure" not in [tags] {
        elasticsearch {
            "cluster" => "{{ elasticsearch_cluster }}"
            "host" => "{{ elasticsearch_host }}"
            "port" => "{{ elasticsearch_transport_port }}"
        }
    }
}