veil.environment.lxc.lxc_container_ready_resource?container_name={{ container_name }}&mac_address={{ mac_address }}&ip_addres={{ ip_address }}&user_name={{ user_name }}
veil.environment.networking.iptables_rule_resource?table=nat&rule={{ iptables_rule }}