# used for lxc-ubuntu template creation
MIRROR="{{ mirror }}"
SECURITY_MIRROR="{{ mirror }}"
USE_LXC_BRIDGE="false"

# used by systemd stop lxc service executing a clean shutdown all containers
STOPOPTS="-a -A -s"
SHUTDOWNDELAY=120