[Unit]
Description=Veil Server
After=network.target

[Service]
EnvironmentFile=/etc/default/veil
WorkingDirectory={{ veil_home }}
ExecStart=/usr/bin/veil :${VEIL_SERVER} up --daemonize
ExecStop=/usr/bin/veil :${VEIL_SERVER} down
KillMode=process
Type=forking
TimeoutStartSec=5min

[Install]
WantedBy=multi-user.target