{% extends 'master:person-website-layout.html' %}

{% block title %}人员管理{% endblock %}

{% block main %}
<div id="person-list">
    {% if persons %}
    <table class="table table-hover v_middle table-bordered tablesorter">
        <thead>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>手机</th>
            <th>邮箱</th>
        </tr>
        </thead>
        <tbody>
        {% for operator in operators %}
        <tr>
            <td>{{ operator.name }}</td>
            <td>{{ operator.gender |gender }}</td>
            <td>{{ operator.mobile }}</td>
            <td>{{ operator.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>还没有人员</p>
    {% endif %}
</div>
{% endblock %}