domain={{ config.domain }}
domain_port={{ config.domain_port }}
domain_scheme={{ config.domain_scheme }}
start_port={{ config.start_port }}
locale={{ config.locale }}
master_template_directory={{ config.master_template_directory }}
prevents_xsrf={{ config.prevents_xsrf }}
recalculates_static_file_hash={{ config.recalculates_static_file_hash }}
process_page_javascript={{ config.process_page_javascript }}
process_page_stylesheet={{ config.process_page_stylesheet }}
clears_template_cache={{ config.clears_template_cache }}