domain={{ config.domain }}
domain_port={{ config.domain_port }}
start_port={{ config.start_port }}
secure_cookie_salt={{ config.secure_cookie_salt }}
secure_hash_salt={{ config.secure_hash_salt }}
master_template_directory={{ config.master_template_directory }}
prevents_xsrf={{ config.prevents_xsrf }}
recalculates_static_file_hash={{ config.recalculates_static_file_hash }}
clears_template_cache={{ config.clears_template_cache }}