@charset "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li,pre, form, 
fieldset, legend, button, input, textarea,th, td {
    margin: 0;
    padding: 0;
}

html body { padding-bottom:0; }

html { overflow-y: scroll; }

/*body,button, input, select, textarea  {*/
    /*font-size: 14px;*/
    /*font-family: arial, sans-serif;*/
/*}*/

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } 
code, kbd, pre, samp, tt { font-family: courier new, courier, monospace; }
small { font-size: 12px; } 

ul, ol { list-style: none; }

a { color: #5B5B5B; text-decoration: none; transition: text-shadow 500ms ease-in 0ms, color 500ms ease-in 0ms; }
a:hover { text-decoration: underline; transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms; }
input[type="button"], input[type=submit], a { cursor: pointer; }

:focus { outline: 0; }

abbr[title], acronym[title] {
 border-bottom: 1px dotted;
 cursor: help;
}

blockquote:before, blockquote:after,
q:before, q:after { content: ''; }

sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
ins { text-decoration: none; }
del { text-decoration: line-through; }

legend { color: #000; } /* for ie6 */
a img { border: 0; } 
img { vertical-align: middle; display: block; -ms-interpolation-mode: bicubic; }
button, input, select, textarea { font-size: 100%; }
textarea { resize: vertical }

table { border-collapse: collapse; border-spacing: 0; }
th{ letter-spacing: 1px; }

hr { height: 1px; border-width: 0; border-bottom-width: 1px; overflow: hidden; margin: 10px 0; border-color: #888; }

article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
mark { background: #ff0; }
