[{{ server_name }}]
active = true
description = "Streaming archive and backup for {{ server_name }}"
basebackup_retry_times = 3
immediate_checkpoint = true
last_backup_maximum_age = 3 DAYS
retention_policy = RECOVERY WINDOW OF 1 WEEKS
retention_policy_mode = auto
wal_retention_policy = main
conninfo = host={{ db_host }} user={{ db_user }} dbname=postgres
streaming_conninfo = host={{ db_host }} user={{ replication_user }} dbname=postgres
backup_method = postgres
streaming_archiver = on
slot_name = {{ replication_slot_name }}
path_prefix = {{ pg_bin_path }}
basebackups_directory = {{ barman_server_home }}/base
errors_directory = {{ barman_server_home }}/errors
incoming_wals_directory = {{ barman_server_home }}/incoming
streaming_wals_directory = {{ barman_server_home }}/streaming
wals_directory = {{ barman_server_home }}/wals