payer_id={{ payer_id }}
payer_name={{ payer_name }}
payer_auth_code={{ payer_auth_code }}
payer_address={{ payer_address }}
payer_telephone={{ payer_telephone }}
payer_bank_account_no={{ payer_bank_account_no }}
ebp_code={{ ebp_code }}
registration_no={{ registration_no }}
operator_name={{ operator_name }}