<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{{ static_url('jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jquery-cookie.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('veil.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('demo.js') }}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ static_url('veil.css') }}"/>
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% block main %}
{% endblock %}
<script type="text/javascript">
    $.cookie('_xsrf', '{{ xsrf_token() }}', {path: '/'});
    $.ajaxSetup({headers:{'X-XSRF':$.cookie('_xsrf')}});
</script>
</body>
</html>