<li class="list-items-element-widget" data-delete-url="/resources/items/{{ item.id }}">
    <button class="remove-item">Remove</button>
    {{ item.name }}
</li>

{% block inline_javascript %}
<script type="text/javascript">
    veil.widget.handle('.list-items-element-widget', '.remove-item', 'click', function(widget){
        veil.widget.deleteResource(widget, function(){
            var handlers = veil.event.DELEGATIONS[veil.event.EVENT_ITEM_DELETED];
            veil.event.trigger(veil.event.EVENT_ITEM_DELETED);
        });
    });
</script>
{% endblock %}
{% block inline_stylesheet %}
<style type="text/css">
    .list-items-element-widget {
        color: red;
    }
</style>
{% endblock %}