# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
	address {{ ip_address }}
	netmask 255.255.0.0
	gateway {{ gateway }}