# Template used to create this container: /usr/share/lxc/templates/lxc-ubuntu
# Parameters passed to the template:
# For additional config options, please look at lxc.conf(5)

# Common configuration
lxc.include = /usr/share/lxc/config/ubuntu.common.conf

# Container specific configuration
lxc.utsname = {{ name }}
lxc.arch = x86_64
lxc.rootfs = /var/lib/lxc/{{ name }}/rootfs
lxc.rootfs.backend = dir

# Network configuration
lxc.network.type = veth
lxc.network.flags = up
lxc.network.link = {{ lan_interface }}
lxc.network.hwaddr = {{ mac_address }}

lxc.start.auto = 1
lxc.start.delay = 3
# higher value means starts earlier
lxc.start.order = {{ start_order }}

{% if memory_limit %}
lxc.cgroup.memory.limit_in_bytes = {{ memory_limit }}
{% endif %}
{% if cpus %}
lxc.cgroup.cpuset.cpus = {{ cpus }}
{% endif %}
{% if cpu_share %}
# default to 1024
lxc.cgroup.cpu.shares = {{ cpu_share }}
{% endif %}

# bind host's home dir to container
lxc.mount.entry = /home/{{ user_name }} home/{{ user_name }} none bind 0 0
lxc.mount.entry = {{ share_dir }} {{ share_dir[1:] }} none bind,create=dir 0 0
lxc.mount.entry = {{ code_dir }} {{ code_dir[1:] }} none bind,create=dir 0 0
lxc.mount.entry = {{ etc_dir }} {{ etc_dir[1:] }} none bind,noexec,create=dir 0 0
lxc.mount.entry = {{ log_dir }} {{ log_dir[1:] }} none bind,noexec,create=dir 0 0
{% if editorial_dir %}
lxc.mount.entry = {{ editorial_dir }} {{ editorial_dir[1:] }} none bind,ro,noexec,create=dir 0 0
{% endif %}
{% if buckets_dir %}
lxc.mount.entry = {{ buckets_dir }} {{ buckets_dir[1:] }} none bind,noexec,create=dir 0 0
{% endif %}
{% if data_dir %}
lxc.mount.entry = {{ data_dir }} {{ data_dir[1:] }} none bind,noexec,create=dir 0 0
{% endif %}
