#! /bin/sh

apt-get -q update
apt-get -y install iptables git-core language-pack-en unzip wget python-virtualenv python-pip
apt-get -y purge ntpdate ntp
rm /etc/network/if-up.d/veil-server-init
exit 0