partner_id={{ partner_id }}
app_key={{ app_key }}
refund_op_user_id={{ refund_op_user_id }}
refund_op_user_password={{ refund_op_user_password }}
api_ca_cert={{ api_ca_cert }}
api_client_cert={{ api_client_cert }}
api_client_key={{ api_client_key }}